Options -Indexes
DirectoryIndex index.php index.html

RewriteEngine On

# Sitemap dinâmico
# RewriteRule ^sitemap\.xml$ sitemap.php [L]

# Guideline interno (sem indexação)
RewriteRule ^guideline/?$ site/paginas/guideline.php [L]

# Blog
RewriteRule ^blog/?$ site/paginas/blog.php [L]
RewriteRule ^blog/([a-zA-Z0-9_-]+)/?$ site/paginas/post.php?slug=$1 [L,QSA]
